<app-search-bar></app-search-bar>
<div class="planets-grid">
  <p style="color:white;" *ngIf="arePlanetsLoading">Loading planets....</p>
  <!-- <app-planet-card *ngFor="let planet of planets"></app-planet-card> -->
  <div *ngFor="let planet of planets" class="col-sm-6 col-md-4 planet-card">
    <a [routerLink]="['/details']" class="planet-card__content">
      <div class="thumbnail">
        <h2>{{ planet.name }}</h2>
        <table>
          <tr>
            <td>diameter:</td>
            <td class="data-column">{{ planet.diameter }}</td>
          </tr>
          <tr>
            <td>rotation period:</td>
            <td class="data-column">{{ planet.rotation_period }}</td>
          </tr>
          <tr>
            <td>orbital period:</td>
            <td class="data-column">{{ planet.orbital_period }}</td>
          </tr>
          <tr>
            <td>population:</td>
            <td class="data-column">{{ planet.population }}</td>
          </tr>
        </table>
      </div>
    </a>
  </div>
</div>
