<label for="searchedPhrase" class="sr-only">Search planet by name:</label>
<div class="searchbar">
  <input
    class="form-control searchbar-input"
    #myInput
    placeholder="Search by name..."
    name="searchedPhrase"
    [(ngModel)]="searchTerm"
    (keyup.enter)="searchTerm = ''"
  />
  <button
    class="btn btn-default searchbar-button"
    *ngIf="searchTerm"
    (click)="searchTerm = ''"
  >
    clear field
  </button>
</div>
<div class="planets-grid">
  <div class="lds-ring" *ngIf="arePlanetsLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <app-planet-card
    *ngFor="let planet of filteredPlanetList"
    [planet]="planet"
    [routerLink]="['/details', planet.name]"
  ></app-planet-card>
</div>
