.planet-card {
  padding: .3em;
  cursor: pointer;
  &:focus{
    background-color:blue;
  }
}

.planet-card__content {
  text-decoration: none;
  color: #333;
  // &:focus {
  //   outline: none;
  // }
  & .thumbnail {
    background-color: #eee;
    margin-bottom: 0;
  }
  & .thumbnail:focus {
    background-color: rgb(185, 185, 185);
  }
}

span {
  font-weight: 600;
}

h2 {
  margin-left: 1rem;
}

table {
  margin: 1rem;
}

.data-column {
  padding-left: 1rem;
}
