<div class="col-sm-6 col-md-4 planet-card" (click)="onSelected()">
  <div class="planet-card__content">
    <div class="thumbnail">
      <h2>{{ planet.name }}</h2>
      <table>
        <tr>
          <td>diameter:</td>
          <td class="data-column">{{ planet.diameter }}</td>
        </tr>
        <tr>
          <td>rotation period:</td>
          <td class="data-column">{{ planet.rotation_period }}</td>
        </tr>
        <tr>
          <td>orbital period:</td>
          <td class="data-column">{{ planet.orbital_period }}</td>
        </tr>
        <tr>
          <td>population:</td>
          <td class="data-column">{{ planet.population }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
