html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}

body {
  background: url("../src/app/kai-pilger-Ef6iL87-vOA-unsplash.jpg");
  background-repeat: repeat;
  padding-bottom: 2em;
  position: relative;
}
